##
# Test nodeGaudi on local system or Travis CI with nodeGaudi itself.
# build.cson - CoffeeScript Object Notation build file.
##
{
    # Define preamble.
    preamble: {
        source: "-"
        target: "-"
        cc: "-"
    }

    # Define dependencies action
    deps: [
        { echo: "Get and install dependencies via Node package manager (npm)..." }
        { exec: "npm install" }
        { echo: "" }
    ]

    # Check Travis CI build status using `bickle`.
    travis: [
        { exec: "bickle builds stpettersens/nodeGaudi -n 5" }
    ]

    # Define build action, an alias for test action.
    build: [
        { doAction: "test" }
    ]

    # Define test action.
    test: [
        { echo: "Display usage information and exit..." }
        { exec: "./nodeGaudi -i" }
        { echo: "Display version and exit..." }
        { exec: "./nodeGaudi -v" }
        { chdir: "examples/HelloWorld" }
        { echo: "Testing build action (build.json) for HelloWorld example program..." }
        { exec: "../../nodeGaudi -f build.json build" }
        { exec: "./hw" }
        { echo: "Testing clean action (build.json)..." }
        { exec: "../../nodeGaudi -f build.json clean" }
        { echo: "Testing build action (build.cson) for Hello World example program..." }
        { exec: "../../nodeGaudi -f build.cson build" }
        { exec: "./hw" }
        { echo: "Testing clean action (build.cson)..." }
        { exec: "../../nodeGaudi -f build.cson clean" }
        { chdir: "../Directories" }
        { echo: "Testing build action (build.json) for Directories example..." }
        { exec: "../../nodeGaudi -f build.json build" }
        { exec: "ls -a" }
        { echo: "Testing clean action (build.json)..." }
        { exec: "../../nodeGaudi -f build.json clean" }
        { exec: "ls -a" }
        { echo: "Testing build action (build.cson) for Directories example..." }
        { exec: "../../nodeGaudi -f build.cson build" }
        { exec: "ls -a" }
        { echo: "Testing clean action (build.cson)..." }
        { exec: "../../nodeGaudi -f build.cson clean" }
        { exec: "ls -a" }
    ]
}
